| Hello #{name},
| 
| Help us secure your #{brand} account by verifying your email address (#{email}). This lets you access all of #{brand}'s features.
| 
| Verify email address 
| #{action_url}
|
| You’re receiving this email because you recently created a new #{brand} account or added a new email address. If this wasn’t you, please ignore this email.
| 
| If you run into problems, please contact support by visiting #{contacts_url}
| 
| Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.
